<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prac2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@drawable/heart"
        android:label="Pillow"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ShowResult"></activity>
        <activity android:name=".Main" />
        <activity android:name=".Title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".posture" />
    </application>

</manifest>